<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~title</title>
</head>
<body>
    Welcome to Home
    ~test#{?markup?<div>hello world</div>$?test?<div>actually I hate exams</div>$?test2?<div>I don't like exams actually I hate exams</div>$}#
    ~test1#{?test?<div></div>$}#
    ~folders@{<a href="~@/submit?path=~path" target="_blank">~name</a>}@
    <form action="~@/submit" method="get">
        <label for="path">Father Path</label>
        <input lable="path" placeholder="Type your father subjects path" name="path" type="text" />
        <button type="submit">submit</button>
    </form>
</body>
</html>